body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFEBEE;
  margin: 0;
  text-align: center;
}
.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.text {
  color: #E74C3C;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
.page {
  width: 80%;
  max-width: 250px; /* Limits image size */
  border-radius: 10px;
}